//layout size
$siteWidth: 1400px;

//radius
$radius: 10px;

//general sizes
$searchHeight: 40px;
$topBarTextSize: 16px;
$fontMenuSize: 16px;
$rowGap: 40px;
$buyBtnAndQuantityHeight: 40px;

//general colors
$borderColor: #C3C3C3;
$listPrice: #9D9D9D;

//text sizes
$defaultTextSize: 14px;
$menuTextSize: 15px;
$summaryProductName: 15px;
$titleTextSize: 28px;
$titleFooterSize: 18px;

//colors
$primaryColor: #034AA6;
$primaryColorHover: #0e5ec5;

$secondaryColor: #FF0000;
$secondaryColorHover: #ff2525;

$tertiaryColor: #313131;
$tertiaryColorHover: #313131;

$textColor: #222222;
$secondaryTextColor: #777777;

$subMenuItemColor: #9D9D9D;
$subMenuItemColorHover: $secondaryColor;

//shadow
$shadow: 0 4px 5px rgba(0,0,0,.15);
