:global(.vtex-flex-layout-0-x-flexRow--breadcrumb-pdp){
  .container{
    padding: 30px 0;
  }
}

.arrow,
.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link,
.arrow{
  font-size: 14px;
}

@media(max-width: 1024px){
  .homeLink{
    font-size: 0;
    &::before{
      content: "Home";
      font-size: 14px;
    }
    .homeIcon{
      display: none;
    }
  }
  .term{
    font-size: 14px;
  }
}
