:global(.vtex-store-locator-0-x-backlinkContainer--regresarlocator){
  margin-bottom: 25px;
}

:global(.vtex-store-locator-0-x-storesListCol){
  max-height: 400px;
  min-height: 400px;
}

:global(.vtex-store-locator-0-x-storesListCol){
  max-height: 400px;
  min-height: 400px;
}

:global(.vtex-rich-text-0-x-wrapper--titdetalle)
  :global(.vtex-rich-text-0-x-heading-level-2),
:global(.vtex-rich-text-0-x-headingLevel2--titlm){
    color: #194681;
}

:global(.vtex-store-locator-0-x-storeName){
  color: #194681;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}

:global(.vtex-store-locator-0-x-addressLink){
  text-decoration: none;
  color: #194681;
}

:global(.vtex-store-locator-0-x-addressContainer),
:global(.vtex-store-locator-0-x-hoursContainer){
  margin-bottom: 30px;
  margin-top: 30px;
}

:global(.vtex-store-components-3-x-shippingTableLabel){
  color: #000000;
}

@media (max-width: 1024px){

  :global(.vtex-store-locator-0-x-backlinkContainer--regresarlocator){
    margin-bottom: 25px;
  }
  :global(.vtex-store-locator-0-x-backlinkContainer--regresarlocator){
    margin-bottom: 25px;
  }

}
