@import './variables';

.paragraph--deals{
  margin: 0 0 0 15px;
  color: $primaryColor;
  font-size: 22px;
  line-height: 26px;
  @media(max-width: 1024px){
    font-size: 18px;
    line-height: 21px;
  }
  @media(max-width: 640px){
    font-size: 12px;
    margin-left: 5px;
    line-height: 16px;
  }
  @media(max-width: 420px){
    font-size: 14px;
    margin-left: 5px;
    line-height: 18px;
    margin-top: 5px;
    text-align: center;
  }
  .italic{
    font-style: normal;
    color: $secondaryColor;
  }
}

.paragraph--title-section,
.heading--title-section{
  font-size: 22px;
  line-height: 25px;
  margin: 0 0 45px;
  font-weight: 400;
}

.heading--category-home{
  margin: 0;
  .link--category-home{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: black;
  }
}

.paragraph--title-newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  .strong{
    font-size: 27px;
  }
  .italic{
    font-size: 21px;
    font-style: initial;
    display: block;
    margin-top: 10px;
  }
  @media(max-width: 640px){
    .strong{
      font-size: 20px;
    }
    .italic{
      font-size: 14px;
    }
  }
}

.paragraph--footerMenuTitle{
  font-size: 16px;
  color: white;
  display: block;
  margin-bottom: 20px;
}

.paragraph--footerMenuContent4{
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
  display: block;
  .link{
    color: white;
    text-decoration: none;
  }
}

.paragraph--footer-copyright{
  font-size: 16px;
  @media(max-width: 640px){
    font-size: 10px;
  }
}

.paragraph--address,
.paragraph--email,
.paragraph--tel{
  display: flex;
  align-items: center;
  &::before{
    content: "";
    display: block;
    margin-right: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.paragraph--address{
  &::before{
    width: 23px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.49998 3.99991C7.16302 3.99991 7.7989 4.2633 8.26774 4.73214C8.73658 5.20098 8.99998 5.83687 8.99998 6.49991C8.99998 7.16295 8.73658 7.79884 8.26774 8.26768C7.7989 8.73652 7.16302 8.99991 6.49998 8.99991C5.83694 8.99991 5.20105 8.73652 4.73221 8.26768C4.26337 7.79884 3.99998 7.16295 3.99998 6.49991C3.99998 5.83687 4.26337 5.20098 4.73221 4.73214C5.20105 4.2633 5.83694 3.99991 6.49998 3.99991ZM6.49998 4.99991C6.10215 4.99991 5.72062 5.15794 5.43932 5.43925C5.15801 5.72055 4.99998 6.10209 4.99998 6.49991C4.99998 6.89773 5.15801 7.27927 5.43932 7.56057C5.72062 7.84187 6.10215 7.99991 6.49998 7.99991C6.8978 7.99991 7.27933 7.84187 7.56064 7.56057C7.84194 7.27927 7.99998 6.89773 7.99998 6.49991C7.99998 6.10209 7.84194 5.72055 7.56064 5.43925C7.27933 5.15794 6.8978 4.99991 6.49998 4.99991ZM1.79998 9.35691L6.49998 17.0869L11.2 9.35691C11.7069 8.52291 11.9827 7.56906 11.9992 6.59324C12.0157 5.61742 11.7722 4.65479 11.2938 3.80415C10.8154 2.95351 10.1192 2.24549 9.27675 1.75276C8.43431 1.26003 7.47593 1.00034 6.49998 1.00034C5.52402 1.00034 4.56564 1.26003 3.7232 1.75276C2.88076 2.24549 2.1846 2.95351 1.70617 3.80415C1.22774 4.65479 0.984277 5.61742 1.00076 6.59324C1.01725 7.56906 1.29309 8.52291 1.79998 9.35691ZM12.054 9.87691L6.49998 19.0119L0.945977 9.87691C0.347098 8.89126 0.0212575 7.76401 0.00189306 6.61085C-0.0174714 5.45768 0.270337 4.32013 0.835784 3.31492C1.40123 2.30972 2.22395 1.47307 3.21952 0.890822C4.21509 0.308577 5.34765 0.00170898 6.50098 0.00170898C7.6543 0.00170898 8.78687 0.308577 9.78243 0.890822C10.778 1.47307 11.6007 2.30972 12.1662 3.31492C12.7316 4.32013 13.0194 5.45768 13.0001 6.61085C12.9807 7.76401 12.6549 8.89126 12.056 9.87691H12.054Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}

.paragraph--email{
  &::before{
    width: 19px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0H16C16.7956 0 17.5587 0.316071 18.1213 0.87868C18.6839 1.44129 19 2.20435 19 3V12C19 12.7956 18.6839 13.5587 18.1213 14.1213C17.5587 14.6839 16.7956 15 16 15H3C2.20435 15 1.44129 14.6839 0.87868 14.1213C0.316071 13.5587 0 12.7956 0 12V3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0ZM3 1C2.512 1 2.064 1.175 1.717 1.466L9.5 6.52L17.283 1.466C16.9236 1.16441 16.4692 0.999385 16 1H3ZM9.5 7.712L1.134 2.28C1.04529 2.50968 0.999855 2.75379 1 3V12C1 12.5304 1.21071 13.0391 1.58579 13.4142C1.96086 13.7893 2.46957 14 3 14H16C16.5304 14 17.0391 13.7893 17.4142 13.4142C17.7893 13.0391 18 12.5304 18 12V3C18 2.746 17.953 2.503 17.866 2.28L9.5 7.711V7.712Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}

.paragraph--tel{
  &::before{
    width: 19px;
    height: 19px;
  }
  &.paragraph--tel01{
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath data-name='layer1' d='M58.9 47l-10.4-6.8a4.8 4.8 0 0 0-6.5 1.3c-2.4 2.9-5.3 7.7-16.2-3.2S19.6 24.4 22.5 22a4.8 4.8 0 0 0 1.3-6.5L17 5.1c-.9-1.3-2.1-3.4-4.9-3S2 6.6 2 15.6s7.1 20 16.8 29.7S39.5 62 48.4 62s13.2-8 13.5-10-1.7-4.1-3-5z' fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='2' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  &.paragraph--tel02{
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99998 0.625C8.35867 0.625431 6.74623 1.05664 5.3238 1.87553C3.90137 2.69441 2.71879 3.8723 1.89424 5.29145C1.06969 6.7106 0.632056 8.32132 0.625085 9.96261C0.618113 11.6039 1.04204 13.2183 1.85451 14.6444L1.01029 17.599C0.955193 17.7919 0.952682 17.996 1.00302 18.1902C1.05335 18.3844 1.1547 18.5616 1.29656 18.7035C1.43843 18.8453 1.61564 18.9467 1.80984 18.997C2.00405 19.0473 2.20817 19.0448 2.40107 18.9897L5.35579 18.1456C6.60323 18.8568 7.99736 19.2719 9.43065 19.359C10.8639 19.4462 12.2981 19.2029 13.6225 18.648C14.9469 18.0931 16.1261 17.2414 17.0692 16.1586C18.0124 15.0759 18.6942 13.7909 19.0621 12.4029C19.43 11.0149 19.4742 9.56094 19.1913 8.15316C18.9083 6.74538 18.3058 5.4214 17.4301 4.28334C16.5545 3.14529 15.4291 2.22357 14.1409 1.58928C12.8526 0.954992 11.4359 0.625083 9.99998 0.625ZM9.99998 18.625C8.45095 18.6261 6.9303 18.2093 5.59823 17.4187C5.55431 17.3926 5.5055 17.3757 5.45481 17.3691C5.40412 17.3625 5.35262 17.3664 5.30348 17.3805L2.19501 18.2686C2.13071 18.2869 2.06268 18.2877 1.99795 18.271C1.93323 18.2542 1.87417 18.2204 1.8269 18.1731C1.77962 18.1258 1.74585 18.0668 1.72908 18.002C1.7123 17.9373 1.71314 17.8693 1.73151 17.805L2.61951 14.6966C2.63355 14.6474 2.6374 14.596 2.63082 14.5453C2.62425 14.4946 2.60738 14.4458 2.58126 14.4018C1.6098 12.7652 1.20693 10.8531 1.4354 8.96362C1.66386 7.07411 2.51084 5.31321 3.84438 3.95523C5.17793 2.59725 6.92316 1.71844 8.80822 1.45571C10.6933 1.19297 12.6123 1.56107 14.2663 2.50265C15.9204 3.44423 17.2166 4.90642 17.953 6.66145C18.6895 8.41648 18.8248 10.3658 18.3379 12.2057C17.851 14.0457 16.7692 15.6729 15.2611 16.834C13.753 17.9951 11.9033 18.6248 9.99998 18.625ZM14.7355 11.7384L12.8174 10.6424C12.6438 10.5433 12.4471 10.4923 12.2473 10.4944C12.0475 10.4965 11.8518 10.5518 11.6804 10.6545L10.386 11.4311C9.60248 11.0341 8.96595 10.3975 8.56898 9.61394L9.3456 8.31953C9.4483 8.14814 9.50354 7.9525 9.50565 7.7527C9.50776 7.55291 9.45666 7.35615 9.3576 7.18262L8.26166 5.2645C8.17217 5.10834 8.04307 4.97855 7.88739 4.88822C7.73171 4.79789 7.55496 4.75021 7.37498 4.75C6.58133 4.75019 5.82009 5.06478 5.25784 5.62492C4.6956 6.18505 4.37815 6.94511 4.37498 7.73875C4.37351 8.77384 4.57612 9.79907 4.97121 10.7558C5.3663 11.7125 5.94613 12.582 6.67752 13.3144C7.40892 14.0469 8.27754 14.628 9.23369 15.0244C10.1899 15.4209 11.2148 15.625 12.2499 15.625H12.2611C13.0548 15.6219 13.8149 15.3044 14.375 14.7422C14.9352 14.1799 15.2498 13.4187 15.25 12.625C15.2498 12.445 15.2021 12.2683 15.1118 12.1126C15.0214 11.957 14.8916 11.8279 14.7355 11.7384ZM12.2601 14.875H12.25C11.3135 14.875 10.3861 14.6904 9.52104 14.3317C8.65594 13.973 7.87004 13.4473 7.20829 12.7846C6.54654 12.1219 6.02193 11.3353 5.66445 10.4697C5.30698 9.60406 5.12366 8.67648 5.12498 7.73997C5.12756 7.14495 5.36576 6.57518 5.78744 6.15538C6.20913 5.73557 6.77995 5.49992 7.37498 5.5C7.42277 5.50006 7.46971 5.51272 7.51106 5.5367C7.5524 5.56068 7.58669 5.59513 7.61048 5.63659L8.70642 7.55481C8.73943 7.61265 8.75647 7.67822 8.75577 7.74481C8.75508 7.81141 8.73669 7.87661 8.70248 7.93375L7.82216 9.40075C7.79103 9.45262 7.77292 9.51124 7.76936 9.57163C7.7658 9.63202 7.7769 9.69237 7.80173 9.74753C8.29119 10.8369 9.16319 11.7088 10.2525 12.1982C10.3077 12.2231 10.3681 12.2342 10.4284 12.2306C10.4888 12.2271 10.5475 12.209 10.5993 12.1778L12.0662 11.2975C12.1234 11.2633 12.1886 11.2449 12.2552 11.2442C12.3218 11.2434 12.3874 11.2605 12.4453 11.2935L14.3634 12.3896C14.4048 12.4133 14.4393 12.4476 14.4633 12.489C14.4873 12.5303 14.4999 12.5772 14.5 12.625C14.5001 13.22 14.2644 13.7908 13.8446 14.2125C13.4248 14.6342 12.8551 14.8724 12.2601 14.875Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}

.paragraph--title-short-description{
  margin: 0;
}

.wrapper--description-institucional{
  margin-bottom: 20px;
  .headingLevel1--description-institucional{
    font-size: 28px;
  }
  .headingLevel2--description-institucional{
    font-size: 24px;
  }
  .headingLevel3--description-institucional{
    font-size: 20px;
  }
  .paragraph--description-institucional{
    font-size: 16px;
    @media(max-width: 980px) {
      font-size:14px;
    }
  }
}

.container--shelf-01,
.container--shelf-02{
  display: block!important;
  .headingLevel2{
    font-size: 32px;
  }
}

.container--shelf-02{
  @media(max-width: 980px) {
    margin-top: 25px;
  }
}

.paragraph--title-short-description{
  margin-bottom: 10px;
}
